body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    color: darkslategray;
    font-size: 100%;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

#games {
    margin: 0 0 25px 0;
}

h1 {
    background-color: coral;
    color: white;
    font-family: 'Amiri', serif;
    font-size: xx-large;
    padding: 5px 15px;
    margin: 0 0 15px 0;
}

h2 {
    background-color: darkturquoise;
    color: white;
    font-family: 'Amiri', serif;
    font-size: x-large;
    padding: 5px 15px;
    margin: 0 0 15px 0px;
}

button {
    color: coral;
    font-weight: bold;
    border: 1px solid coral;
    border-radius: 7px;
    padding: 7px 10px;
    margin: 5px 0 20px 15px;
}

p {
    margin: 15px;
}

#welcome {
    font-weight: bold;
    color: coral;
}

.scores p {
    margin: 10px 25px;
    font-size: 85%;
}
